:root {
    --animation-speed: 0.15s;

    --primary: #f28f52;
    --bg: #faf7f5;
    --bg-alt: #f3ebe7;

    /* Typegraphy */
    --font-title: 'Noto Serif', serif;
    --font-text: 'Open Sans', sans-serif;

    --title: #382d27;
    --text: #51443d;

    /* UI Elements */
    --borders: #ede8e2;
    --button: #f2ece9;
    --button-hover: #e8ddd8;
    --shadow: rgba(0, 0, 0, 0.15) 0px 10px 24px;

    /* Default colors */
    --red: #fe7070;
    --green: #93fda6;
    --blue: #70b9fe;
    --yellow: #fcaf6b;

    /* Footer social-media colors */
    --github: #000000;
}

:root[theme='dark'] {
    --primary: #fca067;

    --bg: #23242a;
    --bg-alt: #46464c;
    --map-bg: #51535e;
    --title: #ffffff;
    --text: #d6d6dc;

    --button: #44444b;
    --button-hover: #58585e;

    /* Default colors */
    --red: #ff5a5a;
    --green: #78f58f;
    --blue: #57aeff;
    --yellow: #ffa657;
}

* {
    margin: 0;
    padding: 0;
    transition: var(--animation-speed);
    scroll-behavior: smooth;
    box-sizing: border-box;

    /* Font */
    line-height: 1.5;
    font-variant: normal;
    font-family: 'Inter', sans-serif;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--bg);
}

h1,
h2,
h3,
h4 {
    font-weight: 800;
    font-family: 'Noto Serif', sans-serif;
}

p {
    font-family: var(--text-font);
}

button:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

main#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#anim-element {
    transition: 1s;
    transform: translateY(25px);
    opacity: 0;
}

#anim-element.anim-visible {
    opacity: 1;
    transform: translateY(0px);
}

p#anim-element.anim-left {
    transition: 1.25s;
    transform: translateX(-25px);
    opacity: 0;
}

p#anim-element.anim-left.anim-visible {
    opacity: 1;
    transform: translateY(0px);
}

p#anim-element.anim-right {
    transition: 1.25s;
    transform: translateX(25px);
    opacity: 0;
}

p#anim-element.anim-right.anim-visible {
    opacity: 1;
    transform: translateY(0px);
}

img#anim-element.img-right {
    transition: 0.75s;
    opacity: 0;
}

img#anim-element.img-right.anim-visible {
    transform: translateZ(0px);
    opacity: 1;
}

img#anim-element.img-left {
    transition: 0.75s;
    opacity: 0;
}

img#anim-element.img-left.anim-visible {
    transform: translateZ(0px);
    opacity: 1;
}

button,
article,
a,
select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

