header.navmenu {
    width: 100%;
    z-index: 999;

    top: 0;
    left: 0;
    display: flex;
    position: sticky;
    justify-content: center;
    margin: 25px 0;
}

header.navmenu > div.container {
    width: 1300px;
    display: flex;
    align-items: center;
    background-color: var(--bg);
    justify-content: space-between;
}

header.navmenu > div.container > img.logotype {
    width: 35px;
    height: 35px;
}

header.navmenu > div.container > nav.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
        font-size: 16px;
        margin: 0 5px;
        padding: 10px 20px;
        color: var(--title);
        border-radius: 25px;
        text-decoration: none;
        text-transform: capitalize;
        font-family: var(--font-title);
    }

    a:hover:not(:disabled) {
        background-color: var(--button);
    }
}

header.navmenu > div.container > nav.commands {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    button.theme,
    button.dropdown-button,
    button.mobile-menu {
        border: 0;
        width: 40px;
        height: 40px;
        outline: none;

        font-size: 16px;
        color: var(--title);
        border-radius: 10px;
        background-color: var(--button);
    }

    button.mobile-menu {
        display: none;
    }

    button.theme:hover:not(:disabled),
    button.dropdown-button:hover:not(:disabled),
    button.mobile-menu:hover:not(:disabled) {
        background-color: var(--button-hover);
    }

    .dropdown-button#active {
        color: white;
        background-color: var(--primary);
    }

    .dropdown-content#invisible {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5px);
    }

    .dropdown-content {
        display: flex;
        position: absolute;
        flex-direction: column;

        right: 0;
        gap: 5px;
        padding: 5px;
        margin-top: 10px;
        border-radius: 15px;
        border: 1px solid var(--borders);
        background-color: var(--bg);
        box-shadow: var(--shadow);

        button {
            border-radius: 10px;
            padding: 10px 15px;
            font-size: 16px;
            border: 0;

            gap: 8px;
            display: flex;
            color: var(--text);
            font-family: var(--font-title);
            justify-content: flex-start;
            background-color: transparent;

            cursor: pointer;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                img {
                    width: 100%;
                }
            }
        }

        button:hover {
            color: var(--title);
            background-color: var(--button);
        }
    }
}

header.navmenu#sticky > div.container {
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 50px;
    box-shadow: var(--shadow);
    background-color: var(--bg);
    border: 1px solid var(--borders);

    nav.commands > .dropdown > .dropdown-content {
        margin-top: 20px;
    }
}

/* Mobile Navmenu */

div.mobile-navmenu#invisible {
    opacity: 0;
    visibility: hidden;

    div.container {
        transform: translateX(100%);
    }
}

div.mobile-navmenu {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 100vh;

    display: flex;
    position: fixed;
    align-items: center;
    justify-content: right;

    background-color: rgb(0, 0, 0, 0.75);
}

div.mobile-navmenu > div.container {
    width: 30%;
    height: calc(100% - 25px);
    padding: 50px;
    border-radius: 25px;
    background-color: var(--bg);

    display: flex;
    margin: 15px;
    transition: 0.5s;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: space-between;
}

div.mobile-navmenu > div.container > div.content > nav.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img.logotype {
        width: 50px;
        height: 50px;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 18px;
        color: var(--text);

        border: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 10px;
        background-color: var(--button);
    }

    button:hover {
        color: var(--title);
        background-color: var(--button-hover);
    }
}

div.mobile-navmenu > div.container > div.content > nav.links {
    display: flex;
    padding: 50px 0;
    flex-direction: column;

    a {
        padding: 20px 30px;
        color: var(--text);
        text-decoration: none;
        text-transform: capitalize;
        background-color: var(--button);
        font-family: var(--font-text);
    }

    a:first-child {
        border-radius: 25px 25px 0 0;
        border-bottom: 1px solid var(--bg);
    }

    a:not(:first-child):not(:last-child) {
        border-top: 1px solid var(--bg);
        border-bottom: 1px solid var(--bg);
    }

    a:last-child {
        border-radius: 0 0 25px 25px;
        border-top: 1px solid var(--bg);
    }

    a:hover {
        color: var(--title);
        background-color: var(--button-hover);
    }
}

div.mobile-navmenu > div.container > nav.mobile-footer > button {
    border: 0;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border-radius: 50px;

    color: white;
    font-size: var(--font-title);
    background-color: var(--primary);
}
