section.hero {
    z-index: 100;
    width: 1300px;
}

section.hero > div.container > video#video,
img#poster {
    z-index: -1;
    width: 100%;
    height: 720px;
    object-fit: cover;
    border-radius: 50px;
    position: absolute;
}

section.hero > div.container {
    position: relative;

    nav {
        color: #fff;
        width: 100%;
        height: 720px;
        border-radius: 50px;
        text-align: center;
        z-index: 2000;
        overflow: hidden;

        background-color: rgb(0, 0, 0, 0.1);

        gap: 24px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;

        h1 {
            font-size: 48px;
        }

        p {
            width: 500px;
            font-size: 20px;
        }
    }

    nav::before {
        content: '';
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: -10;
        position: absolute;
        border-radius: 50px;
    }
}

